{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s6 offset-s3 center-align">
          <h4>Sign up or log in with one of your existing accounts</h4>

          {% get_providers as socialaccount_providers %}

          <form class="login mt-4" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

            <div class="">
              {{ form.login|add_class:"form-control"|attr:"autofocus" }}
              {% for error in form.login.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="">
              {{ form.password|add_class:"form-control" }}
              {% for error in form.password.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}

              <div class="help-text">
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              </div>
            </div>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <br>
            <button type="submit" class="btn btn-outline-dark  mb-3">Sign in</button>
          </form>
          <br>
      </div>
</div>


<!-- Social registration -->
<div class="row">
     <div class="col s6 offset-s3 center-align">
          {% if socialaccount_providers %}
            <div class="">
              <a href="{% provider_login_url "google" %}" class="btn btn-outline-dark col s12 mb-2">
                  Login with Google
              </a>
            </div>
    </div>
</div>

<div class="row">
     <div class="col s6 offset-s3 center-align">
            <div class="">
              <a href="{% provider_login_url "facebook" %}" class="btn btn-outline-dark col s12 mb-2">
                  Login with Facebook
              </a>
            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}
    </div>
</div>
{% endblock %}
