{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col offset-s3 s6">
        <h4>{% trans "Change Password" %}</h4>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form }}
            <div class="">
                <button type="submit" name="action" class="btn btn-dark">{% trans "Change Password" %}</button>
            </div>
        </form>
      </div>
</div>
{% endblock %}
