{% load static %}
{% load account %}
{% load socialaccount %}
{% user_display user as user_display %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material design CSS -->
    <!--
    {% include 'material/includes/material_css.html' %}
    -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- django-material styles -->
    <link href="/static/material/fonts/roboto/style.css" rel="stylesheet">
    <link href="/static/material/css/materialize.css" rel="stylesheet">
    <link href="/static/material/css/materialize.forms.css" rel="stylesheet">
    <link href="/static/material/css/jquery.datetimepicker.css" rel="stylesheet">

    <!-- Material design JS -->
    <script src="{% static 'material/js/jquery.js' %}"></script>
    <!--
    {% include 'material/includes/material_js.html' %}
    -->
    <!--
    <script src="/static/material/js/custom-elements.min.js"></script>
    <script src="/static/material/js/materialize.components.js"></script>
    <script src="/static/material/js/jquery.datetimepicker.full.js"></script>
    <script src="/static/material/js/jquery.formset.js"></script>
    -->
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- block css injects -->
    {% block extracss %}{% endblock extracss %}


    <!-- Optional JavaScript -->
    <!-- Menu --->
    <script>
    $(document).ready(function() {
        $(".dropdown-trigger").dropdown();
    });
    </script>

    <!-- block JS injects -->
    {% block extrajs %}{% endblock extrajs %}

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <title>iXiOO</title>
</head>
<body>
    <!-- Header navbar -->
    <header class="">
        <nav class="nav-wrapper">
          <a class="brand-logo" href="/public">iXiOO Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% if user.is_authenticated %}
              {% else %}
                  <li><a href="{% url 'account_login' %}">Sign in</a></li>
                  <li><a href="{% url 'account_signup' %}">Register</a></li>
              {% endif %}
              {% if user.is_authenticated %}
              <!-- Dropdown Trigger -->
              <li>
                  <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                      {% user_display user %}
                      <i class="material-icons right">arrow_drop_down</i>
                  </a>
              </li>
              <!-- Dropdown Structure -->
              <ul id="dropdown1" class="dropdown-content">
                  <li><a href="{% url 'my' %}">My data</a></li>
                  {% get_social_accounts user as accounts %}
                  {% if accounts %}
                  {% else %}
                  <li><a href="{% url 'account_change_password' %}">Change password</a></li>
                  {% endif %}
                  <li class="divider"></li>
                  <li><a href="{% url 'account_logout' %}">Log out</a></li>
              </ul>
              {% endif %}
          </ul>
        </nav>
    </header>

    <div class="container">
        <!-- Content-->
        {% block content %}{% endblock content %}
    </div>
</body>
</html>
