{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}
{% load staticfiles %}
{% block title %} my {% endblock %}


{% block content %}
{% include "datatables.html" with ajax_url="my/ajax" table="#my-table" page_length=5 %}

<style>
#my-table {
    white-space: nowrap;
    table-layout: fixed;
    overflow: hidden;
}

#my-table tbody td{
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
}
</style>

<br>
<div class="row">
    <div class="col s12 right-align">
        <a href="{% url 'send' %}" class="btn btn-outline-primary">Send new job</a>
    </div>
</div>

<table class="highlight" id="my-table">
    <col style="background:#ccc;">
    <col style="background:#ccc;">
    <col style="background:#ccc;">
    <col style="background:#ccc;">
    <col style="background:#ccc;">
    <col style="">
    <col style="background:#E0F7FA;">
    <col style="background:#E0F7FA;">
    <col style="background:#D3FFD5;">
    <thead>
    <tr>
        <th>Id</th>
        <th width="250">Name</th>
        <th width="20">Version</th>
        <th width="150">Received DateTime</th>
        <th width="150">Description</th>
        <th width="20">Status</th>
        <th width="250">Names of columns input</th>
        <th width="250"">Names of columns output</th>
        <th width="20">Acuracy</th>
    </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $("#my-table").on('click', function(e) {
        if (e.target.tagName == 'TD') {
            var tr = e.target.parentNode;
            var td = tr.firstChild;
            var batch_id = td.innerHTML;
            window.location.href = '/view/' + batch_id;
        }
    });
});
</script>

{% endblock content %}
