{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}
{% block title %} my {% endblock %}


{% block content %}
{% include "datatables.html" with ajax_url="public/ajax" table="#public-table" page_length=10 %}

<style>
#public-table {
    white-space: nowrap;
    table-layout: fixed;
    overflow: hidden;
}

#public-table tbody td{
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
}
</style>

<h4>Public data</h4>

<table class="highlight datatable" id="public-table">
    <col class="">
    <col class="">
    <col class="">
    <col class="">
    <col class="">
    <col class="">
    <col class="">
    <col class="">
    <col class="">
    <thead>
    <tr>
        <th>Id</th>
        <th width="250">Name</th>
        <th width="20">Version</th>
        <th width="150">Received DateTime</th>
        <th width="150">Description</th>
        <th width="20">Status</th>
        <th width="250">Names of columns input</th>
        <th width="250"">Names of columns output</th>
        <th width="20">Acuracy</th>
    </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<script type="text/javascript">
// on row click -> view details
$("#my-data").on('click', function(e) {
return;
    if (e.target.tagName == 'TD') {
        var tr = e.target.parentNode;
        var td1 = $(tr).find('TD').first();
        var batch_id = td1.text();
        window.location.href = '/view/' + batch_id;
    }
});
</script>

{% endblock content %}
