{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load widget_tweaks %}
{% load material_form %}
{% block title %} Sign in {% endblock %}


{% block extracss %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
{% endblock extracss %}

{% block extrajs %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
{% endblock extrajs %}


{% block content %}
<style>
#row-desc textarea:focus {
    width: 305px;
    height: 158px;
}

#send2-form {
    white-space: nowrap;
}

.container {
    margin: 20px;
    width: 100%;
}
</style>

<div class="">
    <div class="">
        <h4>Display table</h4>

        <form method="POST" enctype="multipart/form-data" id="send2-form">
            {% csrf_token %}

            {% if error_dataset %}
            <div id="dataset-error" class="card-panel red lighten-5">
                <dic>
                    {{ error_dataset }}
                </dic>
            </div>
            {% endif %}

            <table class="" id="send2-table">
                <thead>
                <tr id="row-titles">
                    {% for t in titles %}
                    <th>{{ t }}</th>
                    {% endfor %}
                </tr>

                <tr id="row-desc">
                    {% for f in desc_fields %}
                    <td>{{ f }}</td>
                    {% endfor %}
                </tr>

                {% if has_errors %}
                <tr id="row-errors">
                    {% for e in errors %}
                        {% if e %}
                            <td class="red lighten-3">{{ e }}</td>
                        {% else %}
                            <td class="">{{ e }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}

                {% if has_warnings %}
                <tr id="row-warnings">
                    {% for e in warnings %}
                        {% if e %}
                        <td class="yellow lighten-3">{{ e }}</td>
                        {% else %}
                        <td class="">{{ e }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}

                <tr id="row-in-out">
                    {% for f in inout_fields %}
                    <td>{{ f }}</td>
                    {% endfor %}
                </tr>

                <tr id="row-types">
                    {% for f in types %}
                    <td>{{ f }}</td>
                    {% endfor %}
                </tr>

                </thead>

                <tbody>
                </tbody>
            </table>

            <br>
            <!-- Default submit on Enter pressed --->
            <div class="hide">
                <button  type="submit" value="btn_apply"/>
            </div>

            <div class="right-align">
                <button type="submit" name="btn_next" class="btn">Next page</button>
            </div>

            <br>
            <div class="right-align">
                <button type="submit" name="btn_apply" class="btn">Apply changes</button>
            </div>
        </form>

    </div>
</div>

<!-- JS -->
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
 </script>

<script type="text/javascript" language="javascript" class="init">
// table
$(document).ready(function() {
    var USERS_LIST_JSON_URL = '{% url "send2_ajax" batch.Batch_Id %}';
    // translations for datatables
    var oLanguages = {
        oPaginate:{
            sFirst:'<<',
            sLast: '>>',
            sNext: '>',
            sPrevious: '<'
        },
        sInfo:          "Showing _START_ to _END_ of _TOTAL_ entries",
        sInfoEmpty:     "No entries to show",
        sInfoFiltered:  "(filtered from _MAX_ total entries)",
        sLengthMenu:    "Show _MENU_ entries",
        sProcessing:    "Processing",
        sSearch:        "Filter records:",
        sZeroRecords:   "No data to show"
    };

    var dt_table = $('#send2-table').dataTable({
        "pageLength": 5,
        "lengthChange": false,
        "searching": false,
        "oLanguage": oLanguages,
        "info" : false,
        "bInfo" : false,
        "ordering": false,
        "bFilter": true,
        "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
        "iDisplayLength" : 5,
        //"aaSorting": [[ 0, "desc" ]],
        "bAutoWidth": true,
        "bProcessing": true,
        "bServerSide": true,
        "bStateSave": true,
        "sAjaxSource": USERS_LIST_JSON_URL
    });
});
</script>

{% endblock %}
