{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load widget_tweaks %}
{% load material_form %}
{% block title %} Sign in {% endblock %}


{% block content %}
{% url 'send2/id/ajax' batch.Batch_Id as ajax_url %}
{% include "datatables.html" with ajax_url=ajax_url table="#send2-table" page_length=5 %}

<style>
.container {
    margin: 20px;
    width: 100%;
}

#row-desc textarea:focus {
    min-width: 305px;
    height: 158px;
}

#send2-form {
    table-layout: fixed;
    white-space: nowrap;
}
</style>

<div class="">
    <div class="">
        <h4>Display table</h4>

        <form method="POST" enctype="multipart/form-data" id="send2-form">
            {% csrf_token %}

            {% if error_dataset %}
            <div id="dataset-error" class="card-panel red lighten-5">
                <dic>
                    {{ error_dataset }}
                </dic>
            </div>
            {% endif %}

            <table class="" id="send2-table">
                <thead>
                <tr id="row-titles">
                    {% for t in titles %}
                    <th>{{ t }}</th>
                    {% endfor %}
                </tr>

                <tr id="row-desc">
                    {% for f in desc_fields %}
                    <td>{{ f }}</td>
                    {% endfor %}
                </tr>

                {% if has_errors %}
                <tr id="row-errors">
                    {% for e in errors %}
                        {% if e %}
                            <td class="red lighten-3">{{ e }}</td>
                        {% else %}
                            <td class="">{{ e }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}

                {% if has_warnings %}
                <tr id="row-warnings">
                    {% for e in warnings %}
                        {% if e %}
                        <td class="yellow lighten-3">{{ e }}</td>
                        {% else %}
                        <td class="">{{ e }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}

                <tr id="row-in-out">
                    {% for f in inout_fields %}
                    <td>{{ f }}</td>
                    {% endfor %}
                </tr>

                <tr id="row-types">
                    {% for f in types %}
                    <td>{{ f }}</td>
                    {% endfor %}
                </tr>

                </thead>

                <tbody>
                </tbody>
            </table>

            <br>
            <!-- Default submit on Enter pressed --->
            <div class="hide">
                <button  type="submit" value="btn_apply"/>
            </div>

            <div class="right-align">
                <button type="submit" name="btn_next" class="btn">Next page</button>
            </div>

            <br>
            <div class="right-align">
                <button type="submit" name="btn_apply" class="btn">Apply changes</button>
            </div>
        </form>

    </div>
</div>

<!-- JS -->
<script>
  // selects
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

{% endblock %}
