{% extends 'view.html' %}
{% load static %}

{% block view %}
<div>
    <div class="col s3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="col s12">
                    {{ form.GraphType.label_tag }}
                    {{ form.GraphType }}
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    {{ form.X.label_tag }}
                    {{ form.X }}
                </div>
                <div class="col s6">
                    {{ form.Y.label_tag }}
                    {{ form.Y }}
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    {{ form.Z.label_tag }}
                    {{ form.Z }}
                </div>
                <div class="col s6">
                    {{ form.color.errors }}
                    {{ form.color.label_tag }}
                    {{ form.color }}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{ form.ColorScales.errors }}
                    {{ form.ColorScales.label_tag }}
                    {{ form.ColorScales }}
                </div>
            </div>

            <div class="right-align">
                <button type="submit" name="_submit" class="btn">Draw graph</button>
            </div>
        </form>
    </div>

    <div class="col s9">
        <div id="graph">
            <!-- Graph -->
            {{ graph_div|safe }}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
  // selects
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock %}
