<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- django-material styles -->
    <link href="/static/material/fonts/roboto/style.css" rel="stylesheet">
    <link href="/static/material/css/materialize.css" rel="stylesheet">
    <link href="/static/material/css/materialize.forms.css" rel="stylesheet">
    <link href="/static/material/css/jquery.datetimepicker.css" rel="stylesheet">

    <!-- Material design JS -->
    <script src="{% static 'material/js/jquery.js' %}"></script>

    <!-- Init TensorBoard engine -->
    <script>
    $(document).ready(function(){
    return;
        $.get( "{% static "tensorboard/engine.html" %}", function( data ) {
            $("#tb-engine").html( data );
        });
    });
    </script>

    <title>iXiOO</title>
</head>
<body>
    <!-- Header navbar -->
    {% include "header.html" %}

    <div id="tb-engine"></div>
    <tf-tensorboard use-hash brand="TensorBoard"></tf-tensorboard>

