{% extends 'base.html' %}
{% load static %}

{% block title %} view {% endblock %}

{% block content %}
    <script type="text/javascript" language="javascript">
        // tabs
        $(document).ready(function(){
            $('.tabs').tabs();
        });
    </script>

  <div class="row">
    <div class="">
      <ul class="tabs">
        <li class="tab col s2">
            <a target="_self"
               class="{% if url_name == 'view_id_project' %}active{% endif %}"
               href="{% url 'view_id_project' batch_id %}">Project data</a>
        </li>
        <li class="tab col s2">
            <a target="_self"
               class="{% if url_name == 'view_id_data_input' %}active{% endif %}"
               href="{% url 'view_id_data_input' batch_id %}">Data Input</a>
        </li>
        <li class="tab col s2">
            <a target="_self"
               class="{% if url_name == 'view_id_data_solving' %}active{% endif %}"
               href="{% url 'view_id_data_solving' batch_id %}">Data-SOLVED</a>
        </li>
        <li class="tab col s2">
            <a target="_self"
               class="{% if url_name == 'view_id_solving' %}active{% endif %}"
               href="{% url 'view_id_solving' batch_id %}">Solving Informations</a>
        </li>
        <li class="tab col s2">
            <a target="_self"
               class="{% if url_name == 'view_id_graph' %}active{% endif %}"
               href="{% url 'view_id_graph' batch_id %}">Graph</a>
        </li>
        <li class="tab col s2">
            <a target="_self"
               class="{% if url_name == 'view_id_tensorboard' %}active{% endif %}"
               href="{% url 'view_id_tensorboard' batch_id %}">TensorBoard</a>
        </li>
      </ul>
    </div>

    {% block view %}{% endblock %}
  </div>

{% endblock %}
