{% extends 'base.html' %}
{% load static %}

{% block title %} view {% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a href="#page1">Project data</a></li>
        <li class="tab col s2"><a href="#page2">Data Input</a></li>
        <li class="tab col s2"><a href="#page3">Data-SOLVED</a></li>
        <li class="tab col s2"><a href="#page4">Solving Informations</a></li>
        <li class="tab col s2">
            <a target="_self" class="{% if url_name == 'view_id_graph' %}active{% endif %}" href="{% url 'view_id_graph' batch.Batch_Id %}">Graph</a>
        </li>
        <li class="tab col s2"><a href="#page6">TensorBoard</a></li>
      </ul>
    </div>

    {% block view %}{% endblock %}
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript" language="javascript">
    // tabs
    $(document).ready(function(){
        $('.tabs').tabs();
    });
</script>
{% endblock %}
