{% extends 'view.html' %}
{% load static %}

{% block view %}

<!-- TB frame -->
<style>
#tf-frame {
    position: absolute;
    height: 1000px;
    width: 100%;
    z-index: 2;
}
#tb-lpreloader {
    position: absolute;
    z-index: 1;
}
</style>

<div class="center-align">
  <div class="preloader-wrapper active" id="tb-lpreloader">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<script>
function on_tensorboard_loaded(e) {
    $("#tb-lpreloader").addClass("scale-transition scale-out hide");
}
</script>

<iframe src="{% url 'view_tensorboard_engine' batch_id %}" frameborder="0" scrolling="no" id="tf-frame" onload="on_tensorboard_loaded(this)"/>

{% endblock %}
