{% extends 'view.html' %}
{% load static %}

{% block view %}
{% url 'view/id/solved/ajax' batch_id as ajax_url %}
{% include "datatables.html" with ajax_url=ajax_url table="#data-solved-table" page_length=25 %}

<div class="">
    <div class="">
        {% if is_data_solved %}
        <table class="" id="data-solved-table">
            <thead>
            <tr id="row-titles">
                {% for t in titles_solved %}
                <th>{{ t }}</th>
                {% endfor %}
            </tr>

            <tr id="row-types">
                {% for f in types_solved %}
                <td>{{ f }}</td>
                {% endfor %}
            </tr>

            </thead>

            <tbody>
            </tbody>
        </table>

        <div class="">
            <a href="{% url "view_export_solved_csv" batch_id %}" class="">Download File data in CSV/XLS</a>
        </div>

        {% else %}

        <div class="col s4 offset-s4 center-align">
            <div class="card-panel ">
            No data
            </div>
        </div>

        {% endif %}

    </div>
</div>

{% if is_data_solved %}
{% endif %}

{% endblock %}

